::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: rgb(87, 87, 87); border-radius: 10px;}
::-webkit-scrollbar-thumb {background: #9b9b9b; border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background: rgb(236, 236, 236);}
input[type="number"] {-webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;}
textarea:focus, input:focus{outline: none;}

@font-face {
    font-family: DejaVu;
    src: url(DejaVu.ttf);
}

body {
    background-color: rgb(36, 36, 36);
    font-family: 'DejaVu', monospace;
}

.p5Canvas {
    display: block;
    margin: auto;
    border-style: solid;
    border-color: rgb(127.5,127.5,127.5);
    border-width: 3px;
    margin-top: -410px;
}

.descCanv {
    display: block;
    position: absoulute;
    margin-top: 10px;
    width: 400px;
    height: auto;
    border-style: solid;
    border-color: rgb(127.5,127.5,127.5);
    border-width: 3px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-family: 'DejaVu', monospace;
}

button {
    border-style: solid;
    border-width: 2.5px;
    border-color:#8d8d8d;
    background-color: #1f1f1f;
    border-radius: 2px;
    padding: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    width: 30%;
    transition: all, .2s;
    font-family: 'DejaVu', monospace;
    color: white;
}

input {
    border-style: solid;
    border-width: 2.5px;
    border-color:#8d8d8d;
    background-color: #1f1f1f;
    border-radius: 2px;
    padding: 1px;
    margin: 2px;
    width: 10%;
    font-family: 'DejaVu', monospace;
    color: white;
    transition: all, .2s;
}

#holdQ {
    display: block;
    position: absolute;
    margin-top: -10px;
    color: white;
    padding: 10px;
    font-family: 'DejaVu', monospace;
    margin-left: 425px;
}

#defaultCanvas2 {
    position: absolute;
    margin-left: 650px;
}

#defaultCanvas1 {
    position: absolute;
    margin-left: 930px;
}
input:hover {background-color: #464646; border-radius: 10px; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);}
button:hover {background-color: #464646; border-radius: 10px; box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); transform: scale(1.05);}