::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgb(87, 87, 87);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(236, 236, 236);
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
textarea:focus,
input:focus {
  outline: none;
}

@font-face {
  font-family: DejaVu;
  src: url(DejaVu.ttf);
}

body {
  background-color: rgb(36, 36, 36);
  font-family: "DejaVu", monospace;
}

.p5Canvas {
  display: block;
  margin: auto;
  border-style: solid;
  border-color: rgb(127.5, 127.5, 127.5);
  border-width: 3px;
  margin-top: 20px;
  border-radius: 5px;
}

.descCanv {
  display: block;
  position: absolute;
  margin-top: -390px;
  width: 400px;
  height: 400px;
  border-style: solid;
  border-color: rgb(100,100,100);
  border-width: 3px;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: "DejaVu", monospace;
  transition: all .2s;
  overflow-y: scroll;
  z-index: -1;
  background-color: rgb(36,36,36);
}

.descCanv:hover {
  margin-top: 10px;
  z-index: 5;
}

button {
  border-style: solid;
  border-width: 2.5px;
  border-color: #8d8d8d;
  background-color: #1f1f1f;
  border-radius: 2px;
  padding: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  width: 30%;
  transition: all, 0.2s;
  font-family: "DejaVu", monospace;
  color: white;
}

input {
  border-style: solid;
  border-width: 2.5px;
  border-color: #8d8d8d;
  background-color: #1f1f1f;
  border-radius: 2px;
  padding: 1px;
  margin: 2px;
  width: 10%;
  font-family: "DejaVu", monospace;
  color: white;
  transition: all, 0.2s;
}

#holdQ {
  display: block;
  position: absolute;
  margin-top: -10px;
  color: white;
  padding: 10px;
  font-family: "DejaVu", monospace;
  margin-left: 425px;
}

#defaultCanvas2 {
  position: absolute;
  margin-left: 230px;
}

#defaultCanvas1 {
  position: absolute;
}

#defaultCanvas0 {
  position: absolute;
  margin-left: -425px;
}

#actTxt {
  display: block;
  position: absolute;
  margin-top: 200px;
  margin-left: 10px;
  width: 180px;
  height: auto;
  border-style: solid;
  border-color: rgb(127.5, 127.5, 127.5);
  border-width: 3px;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: "DejaVu", monospace;
}

#console {
  display: none;
  height: auto;
  width: 90%;
  border-style: solid;
  border-color: rgb(127.5, 127.5, 127.5);
  border-width: 3px;
  color: white;
  padding: 10px;
  height: 300px;
  overflow: scroll;
}

h2 {
  padding: 0px;
}

input:hover {
  background-color: #464646;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #464646;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

#hideShow {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 5px;
}

#pp {
  width: 90%;
  display: block;
  margin: auto;
}

progress {
  margin: 0px auto;
  padding: 2px;
  width: 100%;
  max-width: 500px;
  background: rgb(36,36,36);
  border: 3px solid #8d8d8d;
  border-radius: 20px;
  height: 20px;
}

progress::-webkit-progress-bar {
    background: rgb(36,36,36);
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background: repeating-linear-gradient(
      135deg,
      #036ffc,
      #036ffc 20px,
      #1163cf 20px,
      #1163cf 40px
    );
    border-radius: 20px;
    -webkit-transition : width 1s ease;
       -moz-transition : width 1s ease;
         -o-transition : width 1s ease;
            transition : width 1s ease;
}
